@font-face {
    font-family: "Roboto";
    src: url('~assets/fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "SedgwickAve";
    src: url('~assets/fonts/SedgwickAve-Regular.ttf') format("truetype");
}

html, * {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBF6EA;
}

h1 {
    font-family: 'SedgwickAve';
    font-weight: 400;
}

p {
    font-family: 'Roboto';
    font-weight: 600;
    line-height: 35,16px;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}
